.header-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.header-user {
  display: flex;
  align-items: center;
  gap: 10px;
}
.overview-cards-div {
  display: flex;
  gap: 20px;
  padding: 20px;
}

.overview-card {
  display: flex;
  justify-content: space-between;
  width: 24vw;
  height: 170px;
  border-radius: 10px;
  border: 1px solid #e0e0e0;
  padding: 20px;
}
.overview-card img {
  background-color: rgb(243, 243, 243);
  height: 20px;
  width: 20px;
  padding: 6px;
  border-radius: 6px;
}
.overview-card-text {
  font-size: 18px;
}

.overview-card-amount {
  font-size: 24px;
  font-weight: 800;
}

.card-pie-align {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.overview-card-percent {
  border-left: 3px solid black;
  margin-top: 40px;
  height: 20px;
  padding-left: 5px;
}

.current-balance-div {
  border: 1px solid #e0e0e0;
  height: 300px;
  width: 90%;
  padding: 20px;
  margin: 20px;
  border-radius: 12px;
}

.current-balance-div {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.current-balance-chart {
  width: 100%;
  height: 150px;
}

.recharts-wrapper:focus {
  border: none;
}
.header-dropdown-menu {
  position: absolute;
  background-color: white;
  padding: 10px 20px;
  right: 0px;
  top: 50px;
  box-shadow: 1px 1px 10px 0px rgba(61, 61, 61, 0.31);
  -webkit-box-shadow: 1px 1px 10px 0px rgba(61, 61, 61, 0.31);
  -moz-box-shadow: 1px 1px 10px 0px rgba(61, 61, 61, 0.31);
}
